<form action="/vaccinations" method="POST" id="pet_form">  
  <input type="text" name="vacc_type" placeholder="Vaccination Type">
  <input type="date" name="date_given">
  <input type="text" name="frequency" placeholder="Shot Frequency">
  <input type="text" name="description" placeholder="Description">
  <input type="submit" value="Add Vaccination">
</form>