 <%if current_user.pets.empty?%>
  <p class="center">You have no pets yet. Add one <a href="/pets/new">here</a></p>
<%end%>
 <%current_user.pets.each do |pet|%>
  <div>
    <ul class="float-items center">
      <%pet.attributes.each do |pet_attribute, attribute_value|%>
        <%if pet_attribute != "user_id" && pet_attribute != "id"%>
          <li><strong class="attribute-color large-text"><%= pet_attribute.capitalize %>:</strong> <%= attribute_value.presence || "N/A"%></li>
        <%end%>
      <%end%>
      <form action="/pets/<%=pet["id"]%>" method="GET">
        <input type="submit" value="View">
      </form><br>
    </ul>
  </div>
<%end%>