<link rel="stylesheet" href="/views.css">

<h3>Add New Pet</h3>
<div class="new-pet-box">
  <form action="/pets" method="POST" id="pet_form"> 
    <input type="text" name="name" placeholder="Name"></span>
    <input type="text" name="dob" placeholder="DOB">
    <input type="text" name="species" placeholder="Species">
    <input type="text" name="breed" placeholder="Breed">
    <input type="text" name="weight" placeholder="Weight">
    <select type="text" id="pet_form" name="gender">
      <option value="N/A">Gender</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
    <input type="submit" value="Add Pet">
  </form>
</div>
