@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body {
	font-family: Poppins;
}

h3 {
	text-align: center;
}

hr {
	margin: 10px 0;
}

.flash {
	color: red;
	text-align: center;
}

.center {
	text-align: center;
}

.nav-bar {
	position: relative;
	text-align: center;
	width: 100%;
}

.nav-bar a {
	color: #444;
	text-decoration: none;
}

.nav-bar ul li {
	display: inline-block;
	padding: 0 3vw;
}

.form-view {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-left: 3vw;
  margin: 0 auto;
}
.attribute-color {
	color: rgb(53, 176, 247);
}
.grid-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
}