<link rel="stylesheet" href="/stylesheets/views.css">
<% if flash.has?(:message) %>
  <h3><%= flash[:message] %></h3>
<% end %>

<h1>Welcome, <%= @user.username %>!<br>

<h2>Your Pets</h2>
<ul>
  <li>PET</li>
  <%= @user.pets %>
  <% list_user_pets %>
</ul>

<h3>Click <a href="/pets/new">here</a> to add pet</h3>