<div> 
  <h1>Welcome, <%= @user.username %>!</h1><br>
  <%if current_user.pets.empty?%>
    You have no pets
  <%else%>
    <h3>Your pets.</h3>
    <%current_user.pets.each do |pet|%>
      <a href="/pets/<%=pet.id%>"><%=pet.name%></a><br>
    <%end%><br>
  <%end%>
  <p>Click <a href="/pets/new">here</a> to add pet</p>
</div>