<div class="welcome-page">
    <h1>Welcome To VaxLog</h1>
    <p>Log and keep track of all of your pets vaccinations.</p>
    <br>
    <p>We all love and care for our pets, but sometimes lost paper makes it hard to keep track of your pets health and vaccinations.</p>
    <p><em>VaxLog</em> solidifies your chances of being able to know when your pets vaccinations have been administered. Add your pet/s and their vaccination records into our database and simply access them through your user account.</p>
    <div class="links">
      <a href="/login">Log In</a> or <a href="/signup">Sign Up</a>
    </div>
</div>