<h1>Welcome</h1>

<h3>Please log in</h3>
<form action="/login" method="POST">
  <label>Username:</label>
  <input type="text" name="username">
  <label>Password:</label>
  <input type="password" name="password">
  <input type="submit" value="Log In">
</form>

<p>or sign up <a href="/users/new">here</a>.</p>